<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
    <title>Access Denied</title>
</head>
<body>
<div th:replace="layout/default :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 m-auto">
            <h2 class="text-danger text-center mt-5">The resource is accessible to logged-in users only</h2>
        </div>
    </div>
</div>

<div th:replace="layout/default :: copy"></div>
</body>
</html>