<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
    <title>Log in</title>
</head>
<body>
<div th:replace="layout/default :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-8 col-md-6 col-lg-5 col-xl-4 m-auto">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-primary text-center">Your Credentials</div>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" th:if="${param.error}">Incorrect credentials</div>
                    <form method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="text" name="username" placeholder="Username or Email" class="form-control"/>
                        <input type="password" name="password" placeholder="Password" class="form-control mt-1"/>
                        <button type="submit" class="btn btn-primary float-right mt-3">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/default :: copy"></div>
</body>
</html>