<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title}, ~{::link})">
<title>Home Page</title>
</head>
<body>
    <div th:replace="common :: navbar"></div>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            A fake notification - will improve later
            A notification must has an expired date
            All the valid notifications are shown in the home page
            Notifications are for the role MODERATOR only
        </div>
    </div>
    <div th:replace="common :: copy"></div>
</body>
</html>