<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
<title>Home Page</title>
</head>
<body>
    <div th:replace="layout/default :: navbar"></div>
    <div class="col-md-10 col-md-offset-1">
        <div>
            <img src="img/placeholder.png" />
        </div>
        <div>
            <p th:if="${profile.info == null}" th:text="${'Click Edit to add your profile info'}"></p>
            <p th:if="${profile.info != null}" th:text="${profile.info}"></p>
        </div>
        <div class="profile-edit">
            <a href="/edit-profile">Edit</a>
        </div>
    </div>
    <div th:replace="layout/default :: copy"></div>
</body>
</html>