<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
    <title>Sign up</title>
</head>
<body>
<div th:replace="layout/default :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-10 col-sm-8 col-lg-6 m-auto">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">Account Info</div>
                </div>
                <div class="card-body">
                    <form th:object="${userDto}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                        </div>
                        <input type="text" placeholder="Username" th:field="*{username}" class="form-control" required/>
                        <input type="text" placeholder="Email address" th:field="*{email}" class="form-control" required/>
                        <input id="pass1" type="password" placeholder="Password" th:field="*{password}" class="form-control"/>
                        <input id="pass2" type="password" placeholder="Password" class="form-control"/>
                        <div id="msg"></div>
                        <button type="submit" class="btn btn-primary float-right mt-3" disabled>Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/default :: copy"></div>

<script>
    $("#pass1, #pass2").on("keyup", function () {
        if ($("#pass1").val() !== "" && $("#pass1").val() === $("#pass2").val()) {
            $("#msg").html("Passwords match").css("color", "green");
            $("button").prop("disabled", false);
        } else if ($("#pass1").val() !== "" && $("#pass2").val() !== "") {
            $("#msg").html("Passwords mismatch").css("color", "red");
            $("button").prop("disabled", true);
        }
    });
</script>
</body>
</html>