<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
<title>Register Member</title>
</head>
<body>
    <div th:replace="layout/default :: navbar"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Sign up</div>
                    </div>
                    <div class="panel-body">
                        <form th:object="${portalUser}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                            </div>
                            <div>
                                <input type="text" placeholder="Username" th:field="*{username}" class="form-control" />
                            </div>
                            <div>
                                <input type="text" placeholder="Email address" th:field="*{email}" class="form-control" />
                            </div>
                            <div>
                                <input id="pass1" type="password" placeholder="Password" th:field="*{password}" class="form-control" />
                            </div>
                            <div>
                                <input id="pass2" type="password" placeholder="Re-type password" class="form-control" />
                                <span id="msg"></span>
                            </div>
                            <div>
                                <input type="submit" name="submit" value="Sign up" class="btn btn-primary pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/default :: copy"></div>

    <script>
        $('#pass1, #pass2').on('keyup', function () {
    	    if ($('#pass1').val() != "" && $('#pass1').val() == $('#pass2').val())
    	        $('#msg').html('Password matches').css('color', 'green');
    	    else if ($('#pass1').val() != "")
    	        $('#msg').html('Password does not match').css('color', 'red');
    	});
    </script>
</body>
</html>