<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
<title>Home Page</title>
</head>
<body>
    <div th:replace="layout/default :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-md-1">
                <img th:src="${'/profile-photo/' + username}" class="img-fluid rounded"/>
            </div>
            <div class="col-md-8">
                <div>
                    <p th:if="${profile.info == null && editable}" th:text="${'Click Edit to add your profile info'}"></p>
                    <p th:if="${profile.info != null}" th:text="${profile.info}"></p>
                </div>
                <a th:if="${editable}" href="/edit-profile">Edit</a>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-10 offset-md-1">
                <form th:if="${editable}" method="post" enctype="multipart/form-data" action="/upload-profile-photo">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    Select photo: <input type="file" accept="image/*" name="file" />
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="layout/default :: copy"></div>
</body>
</html>