<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
    <title>Users</title>
</head>
<body>
<div th:replace="layout/default :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 m-auto">
            <table class="table table-striped">
                <tr class="text-center">
                    <th class="w-60">User</th>
                    <th class="w-40">Messages</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:text="${user.username}" th:href="@{/user/{username}(username=${user.username})}"></a>
                    </td>
                    <td class="text-center">
                        <a th:href="@{/view-messages/{username}(username=${user.username})}">View</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="layout/default :: copy"></div>
</body>
</html>