<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/default :: head(~{::title}, ~{::link})">
<title>Messages</title>
</head>
<body>
    <div th:replace="layout/default :: navbar"></div>

    <div class="container">
        <div class="col-md-10 offset-md-1">
            <table style="border-spacing:5px;border-collapse:separate">
                <tr style="text-align:center">
                    <th style="width:70%">Message</th>
                    <th style="width:20%">Last Modified</th>
                    <th sec:authorize="hasAuthority('ADMIN')" style="width:10%">Action</th>
                </tr>
                <tr th:each="message : ${page.content}">
                    <td th:utext="${message.content}"></td>
                    <td style="text-align:center" th:text="${#dates.format(message.modified, 'dd-MM-yy ''at'' HH:mm:ss')}"></td>
                    <td style="text-align:center">
                        <span sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/edit-message(id=${message.id})}">Edit</a>
                            <a onclick="return confirm('Are you sure to delete this message?')" th:href="@{/delete(id=${message.id})}">Delete</a>
                        </span>
                    </td>
                </tr>
            </table>

            <div style="text-align:center;margin-top:20px" th:if="${page.totalPages > 1}">
                <span th:switch="${page.first}">
                    <span th:case="${true}">Previous</span>
                    <a th:case="${false}" th:href="@{${url}(p=${page.number})}">Previous</a>
                </span>
                <span th:each="index : ${#numbers.sequence(1, page.totalPages)}">
                    <span th:text="${'|'}"></span>
                    <span th:switch="${index}">
                        <span th:case="${page.number + 1}">
                            <strong th:text="${index}"></strong>
                        </span>
                        <span th:case="*">
                            <a th:href="@{${url}(p=${index})}" th:text="${index}"></a>
                        </span>
                    </span>
                </span>
                <span th:text="${'|'}"></span>
                <span th:switch="${page.last}">
                    <span th:case="${true}">Next</span>
                    <a th:case="${false}" th:href="@{${url}(p=${page.number+2})}">Next</a>
                </span>
            </div>
        </div>
    </div>

    <div th:replace="layout/default :: copy"></div>
</body>
</html>